<MudThemeProvider Theme="@_theme" IsDarkMode="true" />





<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private MudTheme _theme = new MudTheme()
    {
        PaletteDark = new PaletteDark()
        {
            Primary = "#00e5ff", // Cyan
            Secondary = "#d500f9", // Neon Purple
            Background = "#0f172a", // Dark Blue
            Surface = "rgba(15, 23, 42, 0.6)", // Glassmorphism base
            AppbarBackground = "#0f172a",
            DrawerBackground = "#0f172a",
            TextPrimary = "#ffffff",
            TextSecondary = "rgba(255,255,255, 0.7)"
        }
    };
}
